#ExperienceCStep {
  
  .header-spacing {

    width: 100%;
    height: 75px;

  }
  
  .experience-subheader {

    font-size: 30px;
    color: #AABA0B;
    font-weight: bold;

    @media(max-width: 730px) {
      font-size: 20px;
    }

  }

  .copy-spacing {

    width: 100%;
    height: 10px;

  }

  .experience-copy, .copy-list li {

    line-height: 24px;
    font-size: 18px;
    font-weight: 100;

    @media(max-width: 730px) {
      font-size: 14px;
    }

  }

  .copy-list li {
    margin: 5px 0px 0px 30px;
  }

  .content-spacing {
    
    width: 100%;
    height: 20px;

  }

  .content {

    .item-box {

      background: white;
      width: 100%;
      height: 740px;
      padding: 6px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

      iframe {

        width: 100%;
        height: 100%;

      }

      img {
        width: 100%;
      }

    }

  }

}