#Technologies {

  .header-spacing {

    width: 100%;
    height: 75px;

  }

  .tech-header {

    color: #747681;
    font-size: 30px;
    font-weight: bold;

  }
  
  .tech-container {
    margin: auto;
    margin-top: 80px;
  }
  
  .tech-container .tech-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -39px;
  }
  
  .hex span {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  
  .hex span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .hex:hover span {
    visibility: visible;
    opacity: 1;
  }
  
  .hex, .blank {
    position: relative;
    margin: 6px 0px 0px 12px;
  }
  
  .hex .hex-top {
    width: 0;
    border-bottom: 42px solid #FBFBFB;
    border-left: 64px solid transparent;
    border-right: 64px solid transparent;
  }
  
  .blank .blank-top {
    width: 0;
    border-bottom: 42px solid #EFEFEF;
    border-left: 64px solid transparent;
    border-right: 64px solid transparent;
  }
  
  .hex .hex-mid {
    width: 128px;
    height: 72px;
    position: relative;
    background-color: #FBFBFB;
  }
  
  .blank .blank-mid {
    width: 128px;
    height: 72px;
    position: relative;
    background-color: #EFEFEF;
  }
  
  .hex .hex-bot {
    width: 0;
    border-top: 42px solid #FBFBFB;
    border-left: 64px solid transparent;
    border-right: 64px solid transparent;
  }
  
  .blank .blank-bot {
    width: 0;
    border-top: 42px solid #EFEFEF;
    border-left: 64px solid transparent;
    border-right: 64px solid transparent;
  }
  
  .hex img {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    padding: 10px;
  }

}