#root {
  margin: auto;
  max-width: 1350px;
}

.Desktop .break {
  width: 100%;
  height: 120px;
}

.Landing {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  position: relative;
}

.Landing .background-img {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.Landing .myname {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.my-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  background: white;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.my-info .my-info-left {
  padding: 15px;
}

.my-info .my-info-left p,
.my-info .my-info-right .email {
  padding: 12px 0px;
}

.my-info .my-info-left .email {
  position: absolute;
  bottom: 18px;
}

.my-info .my-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 440px;
  padding: 15px;
}

.my-info .my-info-right img {
  width: 40px;
  height: 40px;
}

.my-info .my-info-right img:hover {
  cursor: pointer;
}

.my-info .my-info-right p {
  padding: 12px 0px;
}

#my-info-bottom {
  position: relative;
}

.Work h1, .Technologies h1,
.About h1, .Rates h1, .Contact h1 {
  font-weight: 500;
  font-size: 26px;
  text-align: center;
}

.Work .DevMountain, .Work .Commons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 50px;
}

.Work .DevMountain .left-side {
  width: 70%;
}

.Work .DevMountain .left-side img {
  width: 100%;
}

.Work .DevMountain .right-side {
  width: 30%;
  padding: 30px;
}

.Work h2 {
  font-style: italic;
  margin-bottom: 20px;
}

.Work p {
  margin-bottom: 20px;
  line-height: 20px;
}

.Work .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}

.Work .technologies img {
  width: 55px;
  height: 41px;
  margin-bottom: 8px;
}

.Work .Commons .left-side {
  width: 50%;
  padding: 100px 50px;
}

.Work .Commons .right-side {
  width: 1000px;
  position: relative;
  height: 720px;
}

.Work .Commons .right-side img {
  position: absolute;
}

.Work .Commons .right-side .portrait {
  top: 0;
  right: 30px;
}

.Work .Commons .right-side .landscape {
  top: 320px;
  right: 0;
}

.Technologies .tech-container {
  margin: auto;
}

.Technologies .tech-container .tech-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -39px;
}

.hex span {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.hex span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.hex:hover span {
  visibility: visible;
  opacity: 1;
}

.hex, .blank {
  position: relative;
  margin: 6px 0px 0px 12px;
}

.hex .hex-top {
  width: 0;
  border-bottom: 42px solid #FBFBFB;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
}

.blank .blank-top {
  width: 0;
  border-bottom: 42px solid #FFFFFF;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
}

.hex .hex-mid {
  width: 128px;
  height: 72px;
  position: relative;
  background-color: #FBFBFB;
}

.blank .blank-mid {
  width: 128px;
  height: 72px;
  position: relative;
  background-color: #FFFFFF;
}

.hex .hex-bot {
  width: 0;
  border-top: 42px solid #FBFBFB;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
}

.blank .blank-bot {
  width: 0;
  border-top: 42px solid #FFFFFF;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
}

.hex img {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  padding: 10px;
}

.About .moab {
  width: 100%;
  min-width: 600px;
}

.About .about-info {
  position: relative;
}

.About .about-info .will {
  position: absolute;
  bottom: -150px;
  left: 10%;
  border-radius: 50%;
  border: solid 4px #ececec;
}

.About .about-info .about-para {
  width: calc(90% - 308px);
  line-height: 20px;
  float: right;
  padding: 100px 10%;
  right: 0;
}

.About .about-info .about-para p {
  margin-bottom: 20px;
}

video {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 10%;
  margin-top: -20px;
}

.Rates .rates-intro {
  width: 600px;
  margin: auto;
  line-height: 20px;
  padding: 30px;
}

.Rates .plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Rates .plans .plan {
  width: 250px;
  background: #FBFBFB;
  border: solid 1px #E8E8E8;
  margin: 10px;
}

.Rates .plans .plan h2 {
  width: 100%;
  padding: 30px;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
}

.Rates .plans .plan .rate {
  width: calc(100% - 60px);
  text-align: center;
  font-size: 20px;
  margin: 0px 30px 30px;
  border: solid 1px #E8E8E8;
  padding: 20px;
}

.Rates .plans .plan .details {
  width: calc(100% - 60px);
  margin: 0px 30px 30px;
  line-height: 20px;
}

.Rates .plans .plan .details p {
  font-size: 14px;
}

.Contact .form {
  width: 525px;
  margin: auto;
}

.Contact .form input, textarea {
  width: 100%;
  border-radius: 6px;
  border: solid 1px #E8E8E8;
  padding: 10px;
  background: #FBFBFB;
  margin-bottom: 15px;
  font-family: Helvetica, sans-serif;
  resize: none;
  box-sizing: border-box;
}

.Contact .form textarea {
  height: 200px;
}

.Contact .form img {
  width: 100%;
  margin: auto;
  height: 40px;
}

.Contact .form img:hover {
  cursor: pointer;
}

.Contact .last-break {
  width: 100%;
  height: 80px;
}

@media (max-width: 1260px) {
  .Work .Commons .right-side .landscape {
    display: none;
  }
  .Work .Commons .right-side {
    width: 413px;
  }
}

@media (max-width: 1180px) {
  .About .about-info .will {
    bottom: -115px;
    width: 230px;
  }
  .About .about-info .about-para {
    width: calc(90% - 230px);
  }
}

@media (max-width: 1060px) {
  .Work .DevMountain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .Work .DevMountain .left-side {
    width: 100%;
  }
  .Work .DevMountain .right-side {
    width: 80%;
  }
}

@media (max-width: 960px) {
  .Work .Commons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .Work .Commons .left-side {
    width: 80%;
    padding: 30px;
  }
}

@media (max-width: 920px) {
  .About .about-info .will {
    margin: auto;
    left: 0;
    right: 0;
  }
  .About .about-info .about-para {
    width: 100%;
    padding-top: 150px;
  }
}

@media (max-width: 850px) {
  .Technologies .tech-container .tech-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -24px;
  }
  .hex {
    margin: 4px 0px 0px 7px;
  }
  .hex .hex-top {
    border-bottom: 25px solid #FBFBFB;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
  }
  .hex .hex-mid {
    width: 80px;
    height: 40px;
  }
  .hex .hex-bot {
    border-top: 25px solid #FBFBFB;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
  }
}

@media (max-width: 730px) {
  .About .about-info .will {
    width: 150px;
    bottom: -75px;
  }
  .About .about-info .about-para {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .my-info .my-info-left p, .my-info .my-info-right .email {
    padding: 3px 0px;
  }
  .my-info .my-info-right {
    width: 140px;
  }
  #my-info-bottom {
    display: none;
  }
  .Work .DevMountain, .Work .Commons {
    padding: 0px;
  }
  .Work .DevMountain .right-side {
    padding: 30px 0px;
  }
  .Work .Commons .left-side {
    padding: 30px 0px;
  }
  video {
    padding: 0px;
  }
  .Rates .rates-intro {
    padding: 0px 40px;
    width: 100%;
  }
  .Rates .plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .Contact {
    padding: 30px;
  }
  .Contact .form {
    width: 100%;
  }
  #root {
    width: 100vw;
    overflow: hidden;
  }
  .Desktop .break {
    height: 60px;
  }
}
