@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

#Home {
  
  .container {

    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 15px;

    .experience-header {

      color: #747681;
      font-size: 30px;
      font-weight: bold;

    }

  }

}