#CodeBlock {
  
  width: 100%;
  height: 100vh;
  padding-top: 100px;

  .code-box {

    font-family: 'Anonymous Pro', sans-serif;
    font-size: 18px;
    font-weight: 100;
    
    div {
      margin-bottom: 3px;
    }

    .blue {
      color: #2CC1CE;
    }

    .orange {
      color: #F7A80D;
    }

    .red {
      color: #F70D0D;
    }

    .black {
      color: #49434B
    }

    .green {
      color: #119616;
    }

  }

  .scroll-down-icon {

    position: absolute;
    width: 32px;
    bottom: 50px;

    img {
      width: 100%;
    }

  }

}