#ExperienceStruck {

  .header-spacing {

    width: 100%;
    height: 75px;

  }
  
  .experience-subheader {

    font-size: 30px;
    color: #7B84C1;
    font-weight: bold;

    @media(max-width: 730px) {
      font-size: 20px;
    }

  }

  .copy-spacing {

    width: 100%;
    height: 10px;

  }

  .experience-copy, .copy-list li {

    line-height: 24px;
    font-size: 18px;
    font-weight: 100;

    @media(max-width: 730px) {
      font-size: 14px;
    }

  }

  .copy-list li {
    margin: 5px 0px 0px 30px;
  }

  .content-spacing {
    
    width: 100%;
    height: 20px;

  }

  .content {

    .item-box {

      width: calc(33.33% - 13.66px);
      background: white;
      padding: 6px;
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

      img {
        width: 100%;
      }

    }

    .purple-background {
      background: #7B84C1 !important;
    }

    .item-box-spacing {

      min-width: 20px;

    }

  }

  .asterisk {

    margin-top: 10px;
    color: #7B84C1;
    font-size: 14px;
    font-style: italic;

  }

}